<div class="container">  
  
<mat-card>  
  <mat-toolbar color="accent">  
    <div align="center" style="color:white;text-align: right;">  
      CRUD operation in Angular 7 using Web api and Sql Database  
    </div>    
  </mat-toolbar>  
<br><br>  
  <mat-card-content>  
    <form [formGroup]="livroForm"(ngSubmit)="onFormSubmit(livroForm.value)">  
            <table>  
              <tr>  
                <td class="tbl1">  
                  <mat-form-field class="demo-full-width">  
                    <input formControlName="Titulo" matTooltip="Informe o título" matInput placeholder="Título">  
                  </mat-form-field>  
                  <mat-error>  
                    <span *ngIf="!livroForm.get('Titulo').value && livroForm.get('Titulo').touched"></span>  
                  </mat-error>  
                </td>                  
                <td class="tbl1">  
                  <mat-form-field class="demo-full-width">  
                    <input formControlName="NumeroDePaginas" matTooltip="Informe o núemro de páginas" matInput placeholder="Nº de Páginas">  
                  </mat-form-field>  
                  <mat-error>  
                    <span *ngIf="!livroForm.get('NumeroDePaginas').value && livroForm.get('NumeroDePaginas').touched"></span>  
                  </mat-error>  
                </td>
                <td class="tbl1">  
                  <mat-form-field class="demo-full-width">  
                    <input formControlName="Edicao" matTooltip="Informe a edição" matInput placeholder="Edição">  
                  </mat-form-field>  
                  <mat-error>  
                    <span *ngIf="!livroForm.get('Edicao').value && livroForm.get('Edicao').touched"></span>  
                  </mat-error>  
                </td>   
              </tr>  
              <tr> 
               <td class="tbl1">  
                  <mat-form-field class="demo-full-width">  
                    <input matInput [matDatepicker]="picker"matTooltip="Informe a data de publicação" formControlName="Ano"placeholder="Escolha a data de publicação">  
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>  
                    <mat-datepicker #picker></mat-datepicker>  
                  </mat-form-field>  
                  <mat-error>  
                    <span *ngIf="!livroForm.get('Ano').value && livroForm.get('Ano').touched"></span>  
                  </mat-error>  
                </td>             
                <td class="tbl1">  
                  <mat-form-field class="demo-full-width">  
                    <input matTooltip="Informe o Descrição"formControlName="Descricao" matInput placeholder="Observações">  
                  </mat-form-field>  
                  <mat-error>  
                    <span *ngIf="!livroForm.get('Descricao').value && livroForm.get('Descricao').touched"></span>  
                  </mat-error>  
                </td>                 
              </tr>  
              <tr>  
                <td></td>  
                <td  class="content-center">  
                  <button type="submit" mat-raised-button color="accent"matTooltip="Click Submit Button"[disabled]="!livroForm.valid">Submit</button>      
                  <button type="reset" mat-raised-button color="accent"matTooltip="Click Reset Button" (click)="resetForm()">Reset</button>  
                </td>  
                <td>  
                  <p *ngIf="dataSaved" style="color:rgb(0, 128, 0);font-size:20px;font-weight:bold" Class="success" align="left">  
                    {{massage}}  
                  </p>  
                </td>  
              </tr>  
            </table>  
    <br><br>  
      <table class="table" >  
          <tr ngclass="btn-primary">  
            <th class="tbl2">Título</th>  
            <th class="tbl2">Número de páginas</th>             
            <th class="tbl2">Edição</th>  
            <th class="tbl2">Data de publicação</th>
            <th class="tbl2">Observações</th>           
            <th class="tbl2">Edit</th>  
            <th class="tbl2">Delete</th>  
          </tr>  
          <tr *ngFor="let livro of alllivros | async">  
            <td class="tbl2">{{livro.Titulo}}</td>  
            <td class="tbl2">{{livro.NumeroDePaginas}}</td>  
            <td class="tbl2">{{livro.Edicao}}</td>  
            <td class="tbl2">{{livro.Ano} | date}</td> 
            <td class="tbl2">{{livro.Descricao}}</td>           
            <td class="tbl2">  
              <button type="button" class="btn btn-info"matTooltip="Click Edit Button"(click)="loadlivroToEdit(livro.Id)">Edit</button>  
            </td>  
            <td class="tbl2">  
              <button type="button" class="btn btn-danger"matTooltip="Click Delete Button"(click)="deletelivro(livro.Id)">Delete</button>  
            </td>  
          </tr>  
  
        </table>  
    </form>  
  </mat-card-content>  
</mat-card>  
</div>  